body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#name-highlight{
    color: rgb(221, 42, 78);
}
.half-width{
    margin: 2%;
    float: left;
    margin: 4%;
    margin-left: 5%;
    padding-left: 2%;
   
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(221, 42, 78), tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}